.shop_bg {
  position: relative;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}
.shop_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shop_text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #000000;
}

.shop_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 25px;
}
.shop_icon span{
    transform: translateY(5px);
    font-size: 30px;
}
.shop_text h1 {
  font-size: 70px;
  font-weight: 600;
  margin: 10px 0;
}

.shop_text p {
  font-size: 25px;
  margin-top: 5px;
}
@media (max-width: 768px) {
  .shop_bg {
    height: 40vh;
  }

  .shop_text h1 {
    font-size: 30px;
  }

  .shop_text p {
    font-size: 14px;
  }

  .shop_icon h5 {
    font-size: 12px;
  }
}