.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 80px;
  background-image: url(../Image2/s\ main.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.left {
  flex: 1;
}
.right {
  flex: 1;
  padding-left: 40px;
}
.title {
  font-size: 58px;
  font-weight: 700;
  color: #000;
  line-height: 1.2;
}
.title span {
  color: #3879f7;
}
.subtitle {
  font-size: 16px;
  margin: 20px 0;
  color: #555;
}
.btn {
  background: #000;
  color: #fff;
  padding: 12px 26px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease;
}
.btn:hover {
  opacity: 0.8;
}
.hero1 {
  display: flex;
  gap: 20px;
  margin-left: 100px;
  margin-top: 30px;
  opacity: 0.4;
}
.hero2 {
  margin-left: 100px;
  margin-top: 40px;
}
.card1 {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 30px;
}
.recentCard {
  width: 240px;
  border-radius: 14px;
  position: relative;
  transition: 0.3s ease;
}
.recentCard:hover {
  transform: translateY(-5px);
}
.recentCard:hover .wishlist {
  opacity: 1;
  pointer-events: auto;
}
.badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #000;
  color: #fff;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 12px;
  z-index: 3;
}
.wishlist {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #111010d9;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  color: white;
}
.wishlist:hover {
  background: white;
  color: black;
}
.imageWrapper {
  position: relative;
  width: 100%;
  height: 230px;
  background: #f3f3f3;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 70%;
  transition: 0.3s;
}
.cartBtn {
  position: absolute;
  bottom: 10px;
  width: 85%;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  font-size: 14px;
}
.imageWrapper:hover .cartBtn {
  opacity: 1;
  pointer-events: auto;
}
.cardTitle {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
}
.cardPrice {
  font-size: 16px;
  margin-top: 5px;
  font-weight: 700;
}

.rating {
  display: flex;
  margin-top: 6px;
  gap: 3px;
}
.hero3{
  margin-left: 8%;
}
.shop{
  width: 30%;
  background: #f3f3f3;
}
.shop1{
  width: 300%;
}
.head{
  text-align: center;

}