.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 80px;
  background-image: url(../Image2/s\ main.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.left {
  flex: 1;
}
.right {
  flex: 1;
  padding-left: 40px;
}
.titley {
  font-size: 58px !important;
  font-weight: 700;
  color: #000;
  line-height: 1.2;
}
.titley span {
  color: #3879f7 !important;
}
.subtitley {
  font-size: 16px;
  margin: 20px 0;
  color: #555;
}
.btn {
  background: #000;
  color: #fff;
  padding: 12px 26px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease;
}
.btn:hover {
  opacity: 0.8;
}
.hero1 {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
  opacity: 0.4;
}
.hero2 {
  margin-top: 40px;
}
.name {
  display: flex;
  justify-content: center;
}
.name1 {
  display: flex !important;
  justify-content: center !important;
  padding-left: 8%;
}
.card1 {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 30px;
}
.recentCard {
  width: 240px;
  border-radius: 14px;
  position: relative;
  transition: 0.3s ease;
}
.recentCard:hover {
  transform: translateY(-5px);
}
.recentCard:hover .wishlist {
  opacity: 1;
  pointer-events: auto;
}
.badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #000;
  color: #fff;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 12px;
  z-index: 3;
}
.wishlist {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #111010d9;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  color: white;
}
.wishlist:hover {
  background: white;
  color: black;
}
.imageWrapper {
  position: relative;
  width: 100%;
  height: 230px;
  background: #f3f3f3;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 70%;
  transition: 0.3s;
}
.cartBtn {
  position: absolute;
  bottom: 10px;
  width: 85%;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  font-size: 14px;
}
.imageWrapper:hover .cartBtn {
  opacity: 1;
  pointer-events: auto;
}
.cardTitle {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
}
.cardPrice {
  font-size: 16px;
  margin-top: 5px;
  font-weight: 700;
}

.rating {
  display: flex;
  margin-top: 6px;
  gap: 3px;
}
.hero3 {
  width: 85%;
  margin: auto;
  padding: 40px 0;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

.grid {
  display: flex;
  gap: 25px;
}

.largeCard,
.smallCard {
  background-color: #f3f5f7;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  border-radius: 16px;
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 236px;
}

.largeCard {
  flex: 1;
  height: 500px;
  background-position: left center;
  padding-left: 50px;
}

.rightCol {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.largeCard h3,
.smallCard h3 {
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: 600;
}

.link {
  margin-top: 5px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  text-decoration: none;
  color: #111;
}

.link span {
  transition: 0.2s;
}

.link:hover span {
  transform: translateX(5px);
}

.card2 {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 30px;
}
.hero5 {
  display: flex;
  width: 100%;
  height: 430px;
  margin-top: 20px;
}

.leftImage {
  width: 50%;
  border-radius: 8px 0 0 8px;
}

.rightBox {
  width: 50%;
  background: #ffde9e;
  padding: 40px 40px;
  border-radius: 0 8px 8px 0;
}

.promoTag {
  color: #0057ff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

.title {
  font-size: 36px;
  margin: 10px 0;
  font-weight: 700;
}

.subTitle {
  font-size: 16px;
  opacity: 0.8;
}

.expire {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

.timerRow {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.timerBox {
  background: white;
  width: 70px;
  height: 70px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timerBox h3 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

.timerBox p {
  margin: 0;
  font-size: 11px;
  opacity: 0.6;
}

.shopBtn {
  background: black;
  color: white;
  padding: 10px 25px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.hero6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-align: center;
  padding: 20px;
}

.icon {
  color: #d6a85a;
  margin-bottom: 5px;
}

.titlee {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.subtitle {
  font-size: 14px;
  color: #777;
}
.a1 {
  display: flex;
  justify-content: center;
}
.a3 {
  width: 262px;
  height: 262px;
  padding-left: 20px;
}
.pass {
  text-align: center;
}
.join img {
  width: 30%;
}
.above {
  display: flex;
  gap: 100px;
  text-decoration: underline;
}
/* MAIN WRAPPER */
.wrapper {
  width: 100%;
  background: #fff;
}

@media (max-width: 768px) {
  .hero {
    overflow: hidden;
    text-align: center;
    background-position: unset;
  }

  .left {
    display: none;

    overflow: hidden;
  }

  .right {
    padding-left: 0;
    max-width: 100%;
    overflow: hidden;
  }
  .right img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }

  .titley {
    font-size: 32px !important;
  }

  .subtitley {
    font-size: 14px;
  }

  .btn {
    padding: 10px 20px;
  }

  .hero1 {
    margin-left: 0;
    justify-content: center;
    flex-wrap: wrap;
  }

  .hero1 img {
    width: 70px;
  }

  .hero2 {
    margin-left: 10px;
  }

  .card1 {
    justify-content: center;
  }

  .recentCard {
    width: 160px;
  }

  .imageWrapper {
    height: 150px;
  }

  /* .hero3 {
    padding: 20px;
  } */

  .grid {
    grid-template-columns: 1fr;
  }

  .bigCard,
  .smallCard {
    width: 100%;
  }

  .smallImage {
    width: 40%;
  }
  .hero3 {
    display: wrap;
  }

  .hero4 {
    margin-left: 100px;
  }

  .card2 {
    justify-content: center;
  }

  .hero5 {
    flex-direction: column;
    height: auto;
  }

  .leftImage,
  .rightBox {
    width: 100%;
    border-radius: 0;
  }

  .rightBox {
    padding: 20px;
    width: auto;
  }

  .hero6 {
    padding: 20px;
  }

  .a1 {
    display: grid;
    gap: 30px;
  }

  .banner {
    height: auto;
    padding: 30px 10px;
    background-position: center;
  }

  .emailBox {
    width: 90%;
  }

  .footer {
    padding: 50px 20px;
  }

  .footerTop {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .footerBottom {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .insta {
    margin-left: 0;
  }
  .container {
    display: grid !important;
  }
  .centerContent {
    margin: 0;
  }
}
/* @media (max-width:1441px){
.hero1{
  margin-left: ;
}
} */
/* overlay */
/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
} */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25); /* Slight dark overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(6px); /* For Safari support */
}

.box {
  width: 900px;
  background: white;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.left {
  width: 50%;
}

.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right {
  width: 50%;
  padding: 40px 50px;
  position: relative;
}

.right h2 {
  margin-bottom: 10px;
}

.right p span {
  color: rgb(0, 145, 72);
  cursor: pointer;
  margin-left: 5px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

label {
  margin-bottom: 5px;
  font-size: 14px;
}

input {
  padding: 10px;
  border: 1px solid #dcdcdc;
  margin-bottom: 15px;
  border-radius: 5px;
}

.btn {
  background: black;
  color: white;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
}

.error {
  background: #ffdddd;
  color: #b30000;
  padding: 10px;
  border-left: 4px solid red;
  border-radius: 4px;
  margin-bottom: 15px;
}
.success {
  background: #f3fff3;
  color: #34a853;
  padding: 10px;
  border-left: 4px solid #0d6f32;
  border-radius: 4px;
  margin-bottom: 15px;
}
.close {
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
  font-size: 22px;
}
