.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 80px;
  background-image: url(../Image2/s\ main.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.left {
  flex: 1;
}
.right {
  flex: 1;
  padding-left: 40px;
}
.title {
  font-size: 58px !important;
  font-weight: 700;
  color: #000;
  line-height: 1.2;
}
.title span {
  color: #3879f7;
}
.subtitle {
  font-size: 16px;
  margin: 20px 0;
  color: #555;
}
.btn {
  background: #000;
  color: #fff;
  padding: 12px 26px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease;
}
.btn:hover {
  opacity: 0.8;
}
.hero1 {
  display: flex;
  gap: 20px;
  margin-left: 100px;
  margin-top: 30px;
  opacity: 0.4;
}
.hero2 {
  margin-left: 100px;
  margin-top: 40px;
}
.card1 {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 30px;
}
.recentCard {
  width: 240px;
  border-radius: 14px;
  position: relative;
  transition: 0.3s ease;
}
.recentCard:hover {
  transform: translateY(-5px);
}
.recentCard:hover .wishlist {
  opacity: 1;
  pointer-events: auto;
}
.badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #000;
  color: #fff;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 12px;
  z-index: 3;
}
.wishlist {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #111010d9;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  color: white;
}
.wishlist:hover {
  background: white;
  color: black;
}
.imageWrapper {
  position: relative;
  width: 100%;
  height: 230px;
  background: #f3f3f3;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 70%;
  transition: 0.3s;
}
.cartBtn {
  position: absolute;
  bottom: 10px;
  width: 85%;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  font-size: 14px;
}
.imageWrapper:hover .cartBtn {
  opacity: 1;
  pointer-events: auto;
}
.cardTitle {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
}
.cardPrice {
  font-size: 16px;
  margin-top: 5px;
  font-weight: 700;
}

.rating {
  display: flex;
  margin-top: 6px;
  gap: 3px;
}
.hero3{
  margin-left: 1%;
}
.shop{
  width: 30%;
  background: #f3f3f3;
}
.shop1{
  width: 300%;
}
.head{
  text-align: center;

}

.hero3 {
 max-height: 100vh;
  overflow: hidden;
  padding: 40px 80px;
}

.shoptitle {
  
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

/* LEFT BIG CARD */
.bigCard {
  grid-row: span 2;
  background: #f5f5f5;
  border-radius: 16px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-height: 90vh;
}

.bigImage {
  width: 100%;
  height: auto;
  
}

/* RIGHT SMALL CARDS */
.smallCard {
  background: #f5f5f5;
  border-radius: 16px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  max-height: 80%;
  z-index: 2;
}

.smallImage {
  width: 30%;
  height: auto;
  background: none;
}

.textBox {
  margin-top: 20px;
  text-align: left;
  width: 100%;
}

.textBox h3 {
  font-size: 20px;
  font-weight: 600;
}

.link {
  margin-top: 5px;
  font-size: 14px;
  border: none;
  text-decoration: underline;
  background: none;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .bigCard {
    grid-row: span 1;
  }
}
.hero4{
  margin-left: 100px;
}
.card2 {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 30px;
}
.hero5 {
  display: flex;
  width: 100%;
  height: 430px;
  margin-top: 20px;
}

.leftImage {
  width: 50%;
  border-radius: 8px 0 0 8px;
}

.rightBox {
  width: 50%;
  background: #ffde9e;
  padding: 40px 40px;
  border-radius: 0 8px 8px 0;
}

.promoTag {
  color: #0057ff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

.title {
  font-size: 36px;
  margin: 10px 0;
  font-weight: 700;
}

.subTitle {
  font-size: 16px;
  opacity: 0.8;
}

.expire {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

.timerRow {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.timerBox {
  background: white;
  width: 70px;
  height: 70px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timerBox h3 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

.timerBox p {
  margin: 0;
  font-size: 11px;
  opacity: 0.6;
}

.shopBtn {
  background: black;
  color: white;
  padding: 10px 25px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.hero6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-align: center;
  padding: 20px;
}

.icon {
  color: #d6a85a;  margin-bottom: 5px;
}

.titlee {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.subtitle {
  font-size: 14px; 
  color: #777;
}
.a1{
  margin-left: 100px;
}
.a3 {
  width: 262px;
  height:262px;
  padding-left: 20px;
}
.pass{
  text-align: center;
}
.join img{
  width: 30%;
}
.above{
  display: flex;
  gap: 100px;
  text-decoration: underline;
}
/* MAIN WRAPPER */
.wrapper {
  width: 100%;
  background: #fff;
}

/* BANNER */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f2f2f2;
  padding: 50px 0;
}

.leftImg,
.rightImg {
  width: 280px;
  object-fit: contain;
}

.centerContent {
  text-align: center;
}

.title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 8px;
}

.text {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

/* EMAIL BOX */
.inputBox {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.inputBox input {
  width: 240px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.inputBox button {
  padding: 12px 24px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* FOOTER */
.footer {
  background: #111;
  color: #fff;
  padding: 40px 80px;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.logo {
   border-left: 1px  solid white;
  margin-left: 20px;
  padding-left: 20px;
  font-weight: lighter;
  color: grey;
    font-size: 15px;

}
.logoo{
  margin-left: 30px;
  font-weight: bold !important;
  font-size: 25px;
}
.nav {
  display: flex;
  gap: 30px;
}


.nav a {
  color: #ddd;
  cursor: pointer;
  font-size: 14px;
}

/* BOTTOM ROW */
.footerBottom {
  display: flex;
  gap: 35px;
  align-items: center;
  border-top: 1px solid #333;
  padding-top: 20px;
}

.insta {
  margin-left: 40%;
  display: flex;
  gap: 20px;
}

.links a {
  cursor: pointer;
  color: #ccc;
}
/* MAIN WRAPPER */
.container {
  width: 100%;
}

/* NEWSLETTER SECTION */
.newsletter {
  background: #f7f7f7;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftImg {
  width: 330px;
  object-fit: contain;
}

.rightImg {
  width: 330px;
  object-fit: contain;
}

.centerBox {
  text-align: center;
  width: 450px;
}

.centerBox h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

.centerBox p {
  font-size: 14px;
  color: #555;
  margin-bottom: 25px;
}

/* EMAIL INPUT BOX */
.emailBox {
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
  width: 360px;
  margin: auto;
  padding: 12px 15px; 
  gap: 10px;
}

.mailIcon {
  font-size: 20px;
  color: #666;
}

.emailBox input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  background: none;
}

.emailBox button {
  background: none;
  color: grey;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

/* FOOTER */
.footer {
  background: #111;
  color: white;
  padding: 40px 80px;
}

/* FOOTER ROW 1 */
.row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.row1 h3 {
  font-size: 22px;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu p {
  cursor: pointer;
  font-size: 14px;
}

/* FOOTER ROW 2 */
.row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #333;
  padding-top: 20px;
}

.links {
  display: flex;
  gap: 20px;
}

.links p {
  cursor: pointer;
}
