.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 80px;
  background-image: url(../Image2/s\ main.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.left {
  flex: 1;
}

.heroImg {
  width: 100%;
  max-width: 480px;
}

.right {
  flex: 1;
  padding-left: 40px;
}

.title {
  font-size: 58px;
  font-weight: 700;
  color: #000;
  line-height: 1.2;
}

.title span {
  color: #3879f7;
}

.subtitle {
  font-size: 16px;
  margin: 20px 0;
  color: #555;
}

.btn {
  background: #000;
  color: #fff;
  padding: 12px 26px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease;
}

.btn:hover {
  opacity: 0.8;
}


@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 40px;
  }

  .right {
    padding: 0;
    margin-top: 20px;
  }

  .title {
    font-size: 36px;
  }
}
.hero1{
  display: flex;
  margin-left: 50px;
  gap: 20px;
    width: 167;
height: 64;
opacity: 0.4;
margin-top: 30px;

}
.card1 {
  display: flex;
 
  gap: 30px;
  margin-top: 30px;
}

.recentCard {
  width: 250px;
  height: auto;
  background: #f7f7f7;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
}
