.card {
  display: block;
  text-decoration: none;
  color: inherit;
}

.shop_bg {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.shop_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shop_text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #000;
}

.shop_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 25px;
}

.shop_icon a {
  text-decoration: none;
  color: black;
}

.shop_icon span {
  transform: translateY(-6px);
  font-size: 30px;
}

.shop_text h1 {
  font-size: 70px;
  font-weight: 600;
  margin: 10px 0;
}

.shop_text p {
  font-size: 25px;
  margin-top: 5px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;
  font-family: sans-serif;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 600;
}

.leftTabs {
  display: flex;
  gap: 20px;
}

.leftTabs button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #777;
}

.leftTabs .active {
  font-weight: 700;
  color: #000;
  border-bottom: 2px solid #000;
  padding-bottom: 3px;
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sortText {
  font-size: 16px;
  color: #555;
}

.sortSelect {
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
}

.icons {
  display: flex;
  gap: 10px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 30px;
}

.card {
  background: #fff;
  border-radius: 12px;
  padding: 12px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 20px rgba(0,0,0,0.1);
}

.imgBox {
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardText {
  margin-top: 12px;
}

.cardText h3 {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin-bottom: 6px;
}

.date {
  font-size: 14px;
  color: #666;
}


.loadMore {
  margin: 40px auto 0;
  display: block;
  padding: 10px 22px;
  border: 1px solid #000;
  background: transparent;
  border-radius: 25px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.loadMore:hover {
  background: #000;
  color: #fff;
}
