.banner {
  position: relative;
  height: 50vh;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* IMPORTANT */
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: url(../Image2/s-footer2.png);
  background-size: cover;
  background-repeat: no-repeat;

  /* filter: brightness(90%); */
  filter: blur(2px);
  /* filter: grayscale(60%); */
  /* filter: contrast(0.8); */

  z-index : -1;
}

.centerContent {
  position: relative;
  z-index: 2; /* ensure text stays above */
  text-align: center;
}

.tit {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 10px;
}

.text {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

/* EMAIL BOX */
.inputBox {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.inputBox input {
  width: 240px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.inputBox button {
  padding: 12px 24px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.input_btn:hover {
  color: black;
}

/* footer------------------------ */
.footer {
  background: #111;
  color: #fff;
  padding: 40px 80px;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.logo {
  border-left: 1px solid white;
  margin-left: 20px;
  padding-left: 20px;
  font-weight: lighter;
  color: grey;
  font-size: 15px;
}
.logoo {
  margin-left: 30px;
  font-weight: bold !important;
  font-size: 25px;
}
.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  color: #ddd;
  cursor: pointer;
  font-size: 14px;
    text-decoration: none;
}

.footerBottom {
  display: flex;
  gap: 35px;
  align-items: center;
  border-top: 1px solid #333;
  padding-top: 20px;
}

.insta {
  margin-left: 40%;
  display: flex;
  gap: 20px;
}

.links a {
  cursor: pointer;
  color: #ccc;
}

.container {
  width: 100%;
}

.newsletter {
  background: #f7f7f7;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftImg {
  width: 330px;
  object-fit: contain;
}

.rightImg {
  width: 330px;
  object-fit: contain;
}

.centerBox {
  text-align: center;
  width: 450px;
}

.centerBox h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

.centerBox p {
  font-size: 14px;
  color: #555;
  margin-bottom: 25px;
}

.emailBox {
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
  width: 360px;
  margin: auto;
  padding: 12px 15px;
  gap: 10px;
}

.mailIcon {
  font-size: 20px;
  color: #666;
}

.emailBox input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  background: none;
}

.emailBox button {
  background: none;
  color: grey;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.footer {
  background: #111;
  color: white;
  padding: 40px 80px;
}

.row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.row1 h3 {
  font-size: 22px;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu p {
  cursor: pointer;
  font-size: 14px;
}
.row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #333;
  padding-top: 20px;
}
.links {
  display: flex;
  gap: 20px;
}
.links p {
  cursor: pointer;
}
@media (max-width: 768px) {
  .banner {
    height: auto;
    padding: 30px 10px;
    background-position: center;
  }
  .footer {
    padding: 50px 20px;
  }

  .footerTop {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .footerBottom {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .insta {
    margin-left: 0;
  }
  .container {
    display: grid !important;
  }
  .centerContent {
    margin: 0;
  }
  .name2{
    /* transform: translateY(-40px); */
  }
  .tit{
    font-size: 25px;
    font-weight: 700;
  }
  .text{
    font-size: 15px;
  }
}


